<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        
        <div class="chat-container">
            <div class="chat-box" id="chat-box"></div>           
            <center>
                <input type="text" id="user-input" placeholder="Type your message..." onkeypress="handleKeyPress(event)">
                <button onclick="sendMessage()">Send</button>
                <button onclick="clearChat()">Clear Chat</button>
            </center>
        </div>
    </div>





    <script>

        //send message to the server
        function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            var chatBox = document.getElementById('chat-box');
            
            if(userInput === '') return; // Check if user input is empty

            var userMessage = '<div class="user-message">' + userInput + '</div>';
            chatBox.innerHTML += userMessage;
    
            // Scroll chat box to the bottom
            chatBox.scrollTop = chatBox.scrollHeight;

            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'user_input=' + userInput,
            })
            .then(response => response.json())
            .then(data => {
                var botMessage = '<div class="bot-message">' + data.bot_response + '</div>';
                chatBox.innerHTML += botMessage;
                
                // Clear user input after message is sent
                document.getElementById('user-input').value = '';
            });
        }
        
        //clear the chart 
        function clearChat() {
            var chatBox = document.getElementById('chat-box');
            chatBox.innerHTML = ''; // Clear chat box
        }

        //press the enter button it will send the message
        function handleKeyPress(event) {
            if (event.keyCode === 13) { // Check if Enter key is pressed
                event.preventDefault(); // Prevent default behavior of Enter key
                sendMessage(); // Call sendMessage function
            }
        }

        
        
    </script>
    
</body>
</html>
